@model VMMaterialLecture

<form asp-action="UpSet" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">@((Model.Lecture.LectureId == 0 || Model.Lecture.LectureId == null) ? "Create" : "Edit") Lecture</h1>
        <input asp-for="Lecture.LectureId" hidden />
        <hr />
        <div class="row">
            <div class="col-10">

                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;"> Name</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Lecture.Name" class="form-control" />
                        <span asp-validation-for="Lecture.Name" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Description</label>
                    </div>
                    <div class="col-10 pb-3">
                        <textarea asp-for="Lecture.Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Lecture.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <select asp-for="@Model.Lecture.MaterialId" asp-items="@Model.MaterialList" class="form-select border-0 shadow">
                            <option disabled selected>--Select Material--</option>
                        </select>
                        <label asp-for="Lecture.MaterialId" class="ms-2"></label>
                        <span asp-validation-for="Lecture.MaterialId" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Pdf File</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Lecture.Video" class="form-control" />
                        <input asp-for="Lecture.VideoUrl" hidden class="form-control" />
                        @if (!(Model.Lecture.LectureId == 0 || Model.Lecture.LectureId == null))
                        {
                            <input asp-for="Lecture.VideoLocalPath" hidden class="form-control" />
                        }
                        <span asp-validation-for="Lecture.Video" class="text-danger"></span>
                    </div>
                    <div class="col-5 offset-2">
                        <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
                    </div>
                    <div class="col-5">
                        @if (Model.Lecture.LectureId == 0 || Model.Lecture.LectureId == null)
                        {
                            <input type="submit" value="Create" class="btn btn-danger form-control" />
                        }
                        else
                        {
                            <input type="submit" value="Edit" class="btn btn-danger form-control" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}